@import "tailwindcss";

@keyframes pulse-button {
    0%,
    100% {
      transform: scale(.95);
    }
    50% {
      transform: scale(1); 
    }
  }
  
  .pulse-button {
    animation: pulse-button 1.4s ease-in-out infinite;
  }